@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose an option below:</p>
    <a class="btn btn-primary" href="/Home/DataFromWebService">Data from Web Service</a>
    <a class="btn btn-secondary" href="/Home/DataFromEntityFramework">Data from Entity Framework</a>
</div>